# PythonProgrammingBasic-18

# Question 1
    Create a function that takes a list of non-negative integers and strings and return a new list
    without the strings.
    Examples
    filter_list([1, 2, 'a', 'b']) ➞ [1, 2]
    filter_list([1, 'a', 'b', 0, 15]) ➞ [1, 0, 15]
    filter_list([1, 2, 'aasf', '1', '123', 123]) ➞ [1, 2, 123]

In [2]:
def filter_list(lst):
    new_list = []
    for x in lst:
        if type(x) == int:
            new_list.append(x)
    return new_list

In [3]:
filter_list([1, 2, 'a', 'b'])

[1, 2]

In [4]:
filter_list([1, 'a', 'b', 0, 15])

[1, 0, 15]

In [5]:
filter_list([1, 2, 'aasf', '1', '123', 123])

[1, 2, 123]

## Question 2
    The 'Reverser' takes a string as input and returns that string in reverse order, with the
    opposite case.
    Examples
    reverse('Hello World') ➞ 'DLROw OLLEh'
    reverse('ReVeRsE') ➞ 'eSrEvEr'
    reverse('Radar') ➞ 'RADAr'

In [6]:
def reverse(str):
    str = str[::-1]
    return str.swapcase()

In [7]:
reverse('Hello World')

'DLROw OLLEh'

In [8]:
reverse('ReVeRsE')

'eSrEvEr'

In [9]:
reverse('Radar')

'RADAr'

## Question 3
    You can assign variables from lists like this:
    lst = [1, 2, 3, 4, 5, 6]
    first = lst[0]
    middle = lst[1:-1]
    last = lst[-1]
    print(first) ➞ outputs 1
    print(middle) ➞ outputs [2, 3, 4, 5]
    print(last) ➞ outputs 6
    With Python 3, you can assign variables from lists in a much more succinct way. Create
    variables first, middle and last from the given list using destructuring assignment
    (check the Resources tab for some examples), where:
    first ➞ 1
    middle ➞ [2, 3, 4, 5]
    last ➞ 6

    Your task is to unpack the list writeyourcodehere into three variables, being first,
    middle, and last, with middle being everything in between the first and last element. Then
    print all three variables.

In [10]:
lst = [1, 2, 3, 4, 5, 6]
first ,*middle,last = lst
first

1

In [12]:
middle

[2, 3, 4, 5]

In [13]:
last

6

## Question 4
    Write a function that calculates the factorial of a number recursively.
    Examples
    factorial(5) ➞ 120
    factorial(3) ➞ 6
    factorial(1) ➞ 1
    factorial(0) ➞ 1

In [16]:
def factorial(n):
    if n == 0:
        return 1    
    return n * factorial(n-1)

In [17]:
factorial(5)

120

In [18]:
factorial(3)

6

In [19]:
factorial(1)

1

In [20]:
factorial(0)

1

## Question 5
    Write a function that moves all elements of one type to the end of the list.
    Examples
    move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
    # Move all the 1s to the end of the array.
    move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
    move_to_end(['a', 'a', 'a', 'b'], 'a') ➞ ['b', 'a', 'a', 'a']

In [21]:
def move_to_end(array, toMove):
     
    i = 0
 
    # Mark the right pointer
    j = len(array) - 1
  
    # Iterate untill left pointer
    # crosses the right pointer
    while (i < j):
  
        while (i < j and array[j] == toMove):
  
            # decrement right pointer
            j-=1
  
        if (array[i] == toMove):
  
            # swap the two elements
            # in the array
            array[i], array[j] = array[j] , array[i]
  
        # increment left pointer
        i += 1
  
    # return the result
    return array

In [22]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[4, 3, 2, 4, 1, 1]

In [23]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 4, 1, 2, 3, 9]

In [24]:
move_to_end(['a', 'a', 'a', 'b'], 'a')

['b', 'a', 'a', 'a']